@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

:root {
    --main-color-1: #bd7e00;
    --main-color-2: #5d3e00;
}

span {
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    vertical-align: baseline-middle;
}

.navbar {
    background-color: var(--main-color-1);
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}

.navbar-nav {
    margin-left: auto;
}

#hero-sec {
    background: #bd7e00;
    background: -moz-linear-gradient(top, #bd7e00 0%, #5d3e00 100%);
    background: -webkit-linear-gradient(top, #bd7e00 0%, #5d3e00 100%);
    background: linear-gradient(to bottom, #bd7e00 0%, #5d3e00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd7e00', endColorstr='#5d3e00',GradientType=0 );
}

#last-products {
    background-color: var(--main-color-2);
}

#last-products img {
    height: 30em;
}

#last-products a {
    text-decoration: none !important;
}

.dropdown-menu {
    background-color: var(--main-color-2) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--main-color-1) !important;
}

footer {
    background-color: var(--main-color-2);
}

#hero-sec .a-propos p {
    font-size: 1rem;
    text-align: left;
}

/* CSS personnalisé */
.whisky-card {
    position: relative;
    overflow: hidden;
}

.whisky-card .image-container {
    width: 100%;
    height: 500px; /* Ajustez cette valeur en fonction de la hauteur souhaitée */
    overflow: hidden;
}

.whisky-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.whisky-card:hover img {
    transform: rotateY(180deg);
}

.whisky-card .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Black And White Picture', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.whisky-card .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}

.whisky-card:hover .description {
    opacity: 1;
}

.whisky-card .price {
    font-weight: bold;
}
.fs-7 {
    font-size: 0.9rem;
}